@theme {
  --dark-mode: attribute;
  --dark-mode-attribute: data-theme;
  --dark-mode-value: dark;
}

:root {
  --primary: rgb(84 90 146);
  --surface-tint: rgb(84 90 146);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(223 224 255);
  --on-primary-container: rgb(60 66 121);
  --secondary: rgb(91 93 114);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(224 224 249);
  --on-secondary-container: rgb(68 69 89);
  --tertiary: rgb(119 83 108);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(255 215 239);
  --on-tertiary-container: rgb(94 60 83);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(251 248 255);
  --on-background: rgb(27 27 33);
  --surface: rgb(251 248 255);
  --on-surface: rgb(27 27 33);
  --surface-variant: rgb(227 225 236);
  --on-surface-variant: rgb(70 70 79);
  --outline: rgb(119 118 128);
  --outline-variant: rgb(199 197 208);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(48 48 54);
  --inverse-on-surface: rgb(242 239 247);
  --inverse-primary: rgb(189 194 255);
  --primary-fixed: rgb(223 224 255);
  --on-primary-fixed: rgb(14 21 75);
  --primary-fixed-dim: rgb(189 194 255);
  --on-primary-fixed-variant: rgb(60 66 121);
  --secondary-fixed: rgb(224 224 249);
  --on-secondary-fixed: rgb(24 26 44);
  --secondary-fixed-dim: rgb(196 197 221);
  --on-secondary-fixed-variant: rgb(68 69 89);
  --tertiary-fixed: rgb(255 215 239);
  --on-tertiary-fixed: rgb(45 17 39);
  --tertiary-fixed-dim: rgb(231 185 214);
  --on-tertiary-fixed-variant: rgb(94 60 83);
  --surface-dim: rgb(219 217 224);
  --surface-bright: rgb(251 248 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(245 242 250);
  --surface-container: rgb(239 237 244);
  --surface-container-high: rgb(234 231 239);
  --surface-container-highest: rgb(228 225 233);
}

[data-theme="dark"] {
  --primary: rgb(189 194 255);
  --surface-tint: rgb(189 194 255);
  --on-primary: rgb(37 43 97);
  --primary-container: rgb(60 66 121);
  --on-primary-container: rgb(223 224 255);
  --secondary: rgb(196 197 221);
  --on-secondary: rgb(45 47 66);
  --secondary-container: rgb(68 69 89);
  --on-secondary-container: rgb(224 224 249);
  --tertiary: rgb(231 185 214);
  --on-tertiary: rgb(69 38 60);
  --tertiary-container: rgb(94 60 83);
  --on-tertiary-container: rgb(255 215 239);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(19 19 24);
  --on-background: rgb(228 225 233);
  --surface: rgb(19 19 24);
  --on-surface: rgb(228 225 233);
  --surface-variant: rgb(70 70 79);
  --on-surface-variant: rgb(199 197 208);
  --outline: rgb(145 144 154);
  --outline-variant: rgb(70 70 79);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(228 225 233);
  --inverse-on-surface: rgb(48 48 54);
  --inverse-primary: rgb(84 90 146);
  --primary-fixed: rgb(223 224 255);
  --on-primary-fixed: rgb(14 21 75);
  --primary-fixed-dim: rgb(189 194 255);
  --on-primary-fixed-variant: rgb(60 66 121);
  --secondary-fixed: rgb(224 224 249);
  --on-secondary-fixed: rgb(24 26 44);
  --secondary-fixed-dim: rgb(196 197 221);
  --on-secondary-fixed-variant: rgb(68 69 89);
  --tertiary-fixed: rgb(255 215 239);
  --on-tertiary-fixed: rgb(45 17 39);
  --tertiary-fixed-dim: rgb(231 185 214);
  --on-tertiary-fixed-variant: rgb(94 60 83);
  --surface-dim: rgb(19 19 24);
  --surface-bright: rgb(57 57 63);
  --surface-container-lowest: rgb(13 14 19);
  --surface-container-low: rgb(27 27 33);
  --surface-container: rgb(31 31 37);
  --surface-container-high: rgb(41 41 47);
  --surface-container-highest: rgb(52 52 58);
}

@theme inline {
  --color-primary: var(--primary);
  --color-surface-tint: var(--surface-tint);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-surface-variant: var(--surface-variant);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
  --color-shadow: var(--shadow);
  --color-scrim: var(--scrim);
  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-inverse-primary: var(--inverse-primary);
  --color-primary-fixed: var(--primary-fixed);
  --color-on-primary-fixed: var(--on-primary-fixed);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
  --color-secondary-fixed: var(--secondary-fixed);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
  --color-surface-dim: var(--surface-dim);
  --color-surface-bright: var(--surface-bright);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);
}
